<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class=" main_screen">
    <div class="header">
        <img class="head_photo" src="../images/image.png"/>
    </div>
<div class="main">
    <ul class="titles">
        <li class="title">
            <h1 class="adventures">adventures</h1>
        </li>
        <li class="title">
            <h2 class="name">awesome gallery post</h2>
        </li>
        <li class="title">
            <h3 class="date">january 19, 2016</h3>
        </li>
    </ul>
    <div class="button">read more</div>
</div>
    <div class="footer">
        <img class="icon" src="../images/Icon.png"/>
        <h3 class="comments"> 02 comment</h3>
    </div>

</div>
</body>
</html>