<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="main">
    <h1 class="main__title">Давайте начнем!</h1>
    <form>
        <label class="main__form-title">Имя
        <input type="text" name="username" placeholder="Чендлер">
        </label>
        <label class="main__form-title">Фамилия
        <input type="text" name="surname" placeholder="Бинг">
        </label>
        <label> Ваш пол
        <input type="radio" name="" value="gender"> Женский

        <input type="radio" name="day" value="gender"> Мужской
        </label>
        <label class="main__form-title">Введите электронный адрес
        <input type="email" name="user-email" placeholder="email@gmail.com">
        </label>
        <label class="main__form-title">Придумайте пароль
            <input type="password" name="user-password" placeholder="12345">
        </label>
        <label>
            <input type="checkbox" name="terms">
            Я принимаю условия<a href="#"> Пользовательского соглашения</a>и даю своё согласие на обработку моих персональных данных
            на условиях, определенных <a href="#"> Политикой конфиденциальности</a>.
        </label>
        <div class="main__button">
            <p class="main__button_text">Зарегестрироваться</p>
        </div>
    </form>
</div>
</body>
</html>