<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="main">
    <h1 class="main__title">Давайте начнем!</h1>
    <form class="main__form">
        <label class="main__form-title"> Имя
        <input class="main__form_box-input" type="text" name="username" placeholder="Чендлер">
        </label>
        <label class="main__form-title">Фамилия
        <input class="main__form_box-input" type="text" name="surname" placeholder="Бинг">
        </label>
        <label class="main__form-title"> Ваш пол
            <label class="main__form-gender">
                <label>
        <input  type="radio" name="gender" > Женский
                   </label>
                <label class="main__form_gender-box">
        <input  type="radio" name="gender"> Мужской
            </label>
            </label>
        </label>

        <label class="main__form-title">Введите электронный адрес
        <input class="main__form_box-input" type="email" name="user-email" placeholder="email@gmail.com">
        </label>
        <label class="main__form-title">Придумайте пароль
            <input class="main__form_box-input" type="password" name="user-password" placeholder="12345">
        </label>
        <label class="main__form_text-accept">
            <input class="main__form_box-accept" type="checkbox" name="terms">
            
            Я принимаю условия<a href="#"> Пользовательского соглашения</a> и даю своё согласие на обработку моих персональных данных
            на условиях, определенных <a href="#"> Политикой конфиденциальности</a>.

        </label>
        <div class="main__button">
            <p class="main__button_text">Зарегестрироваться</p>
        </div>
    </form>
</div>
</body>
</html>